.locandine {
    object-fit: cover;
    width: 30vw;
    height: 40vh;
}
.locandina {
    object-fit: cover;
    height: 100vh;
}



/* animazioni */

.selezione {
    transition: all 0.25s linear 0s;
}

.selezione:hover {
    transform: scale(1.2);
    z-index: 5;
}

.cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    margin-right: .5em;
}

.card-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.bi:hover {
    color: white;
}

.card-body {
  position: absolute;
  top: 100%; /* subito sotto l’immagine */
  left: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  padding: 1rem;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 10;
  height: 110px;
}

.card:hover .card-body {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

@media only screen and (min-width: 1200px) {
    .card-img {
        height: 170px;
        width: 100%;
        object-fit: cover;
    }
}
@media only screen and (min-width: 2000px) {
    .card-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
}