.locandine {
    object-fit: cover;
    width: 30vw;
    height: 40vh;
}


/* animazioni */

.selezione {
    transition: all 0.25s linear 0s;
}

.selezione:hover {
    transform: scale(1.1);
    z-index: 5;
}