.locandine {
    object-fit: cover;
    width: 30vw;
    height: 40vh;
}


/* animazioni */

.selezione {
    transition: all 0.25s linear 0s;
}

.selezione:hover {
    transform: scale(1.2);
    z-index: 5;
}

.cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    margin-right: .5em;
}
